body {
  width: 100%;
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.containerindex {
  margin-top: 10%;
}

@media (max-width: 768px) {
  .containerindex {
    margin-top: 30%;
  }
}

a {
  color: #00B7FF;
}